* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Amazon Ember, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  /* --ch-scrollycoding-sticker-width: 520px; */
  --ch-scrollycoding-sticker-width: 35vw;
}

#__next {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #e5e5df;
  z-index: 1;
}

input[type='search'] {
  width: 20rem;
  padding: 0.5rem 1rem;
}

navbar {
  display: flex;
  flex-direction: column;
  padding: 2rem 0px;
  position: sticky;
  top: 4rem;
  align-self: flex-start;
  min-height: 100vh;
}

header .header_item:first-child,
navbar .side_item:first-child {
  font-weight: 600;
}

.codehike {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 2rem;
  margin-top: 4rem;
}

.codehike h3 {
  margin-bottom: 0;
}

.codehike a {
  margin-bottom: 1rem;
}

.modules,
.quicklinks {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 0.875rem;
}

.modules {
  width: 20vw;
  border-right: 1px solid #e5e5df;
}

.codehike {
  width: 64vw;
}

.quicklinks {
  width: 16vw;
  border-left: 1px solid #e5e5df;
}

.modules .side_item,
.quicklinks .side_item {
  color: #616161;
  padding: 0.5rem 0;
}

.ch-code-browser-content {
  padding: 3rem 1rem 1rem 1rem;
}

.ch-scrollycoding-step-content {
  min-height: auto;
  border: 0;
  border-radius: 0;
  border-left: 4px solid transparent;
}

.ch-scrollycoding-step-content[data-selected] {
  border-color: #f90;
}

.ch-scrollycoding-step-content:hover {
  cursor: pointer;
  background-color: #f1f1eb;
}

/* .ch-code-multiline-mark {
  background: rgba(255, 255, 255, 0.1) !important;
} */

.bold {
  font-weight: bold;
}
